<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<img src="https://assets.codepen.io/590856/internal/screenshots/pens/oNXLbqQ.default.png?fit=cover&format=auto&ha=true&height=540&quality=75&v=2&version=1596714474&width=960" alt="" width="100%">