<!DOCTYPE html>
<html lang="zxx" class="no-js">
	<head>
		<% include elements/meta-head %>
	</head>
	<body>
		<header>
			<% include elements/header %>
		</header>
		
		<div class="site-main-container">
			<%- body %> 
			<!-- End latest-post Area -->
		</div>
		
		<!-- start footer Area -->
		<% include elements/footer %>
	</body>
</html>