<div class="col-lg-12">
    <div class="panel panel-info">
        <div class="panel-heading">List Items</div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="pull-left">
                <a href="admin/footer/renent_posts/edit" class="btn btn-warning btn-addNew"
                  >Add New
                </a>
              </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Post name</th>
                            <th>Time</th>
                            <th>Url</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                aaa
                            </td>
                            <td>
                                aaa
                            </td>
                            <td>
                                abc
                            </td>
                            <td>
                                abv
                            </td>
                            <td>
                                <a href="#" type="button" class="btn btn-warning btn-sm">Edit</a>
                                <a href="#" type="button" class="btn btn-danger btn-sm btn-delete">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>