<base href="/">
<!-- Mobile Specific Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="SemiColonWeb" />

<!-- Stylesheets
============================================= -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="frontend/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="frontend/css/style.css" type="text/css" />
<link rel="stylesheet" href="frontend/css/dark.css" type="text/css" />
<link rel="stylesheet" href="frontend/css/font-icons.css" type="text/css" />
<link rel="stylesheet" href="frontend/css/animate.css" type="text/css" />
<link rel="stylesheet" href="frontend/css/magnific-popup.css" type="text/css" />

<link rel="stylesheet" href="css/custom.css" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="frontend/css/include/rs-plugin/css/settings.css" media="screen" />
<link rel="stylesheet" type="text/css" href="frontend/css/include/rs-plugin/css/layers.css">
<link rel="stylesheet" type="text/css" href="frontend/css/include/rs-plugin/css/navigation.css">

<!-- Document Title
============================================= -->
<title>Home - Shop | Canvas</title>