<% if(errors) {  %> 
    <div class="row">
        <div class="col-lg-6">
            <div class="alert alert-danger" role="alert">
                <ul>
                    <% errors.errors.forEach((item, index) =>{ %>
                        <li><%- item.msg%></li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
<% }%>
