<%
    statusHelper = ( collection, status, id)=> {
        let xhtmlStatus = '';
        let link = systemConfig.prefixAdmin + "/" + collection + "/change-status/" + id + "/" + status
        if(status === "active"){
            xhtmlStatus = '<span class="badge badge-success">active</span>'
        } else if (status === "inactive"){
            xhtmlStatus = '<span class="badge badge-warning">inactive</span>'
        }
        return `<a href="${link}" > ${xhtmlStatus} </a>`
    }
%>